.fra-button {
  border: none;
  padding: 10px;
  height: 40px;
  outline: none;
  border-radius: 2px;
  font-size: 0.80em;
  font-weight: 600;
  letter-spacing: 2px;
  transition: color 0.2s;
  border-right: 1px solid #d8d8d8;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;

  &.main {
    letter-spacing: 4px;
    font-weight: 900;
    margin-right: 30px;
    font-size: 1.5em;
    font-family: 'Londrina Solid', cursive;
    border-right: none;
    height: 100%;
  }


  &:last-of-type {
    border-right: none;
  }

  &:hover {
    cursor: pointer;
    color: lighten(black, 50%);
  }
}
