html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.App {
  position: relative;
  background-color: #85D4A5;
  display: flex;
  flex-direction: column;

  FraHeader {
    flex: 0 auto;
  }

  .fra-featured {
    flex: 1;
    display: flex;

    .half {
      flex: 1;
      display: flex;
      padding: 10px;

      &.left-half {
        padding-left: 15vw;
        align-items: center;
      }

      &.right-half {
        padding-right: 15vw;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }

    .fra-featured-screenshot {
      height: 500px;
      border-radius: 10px;
      border: 20px black solid;
      position: relative;
      bottom: -50px;
    }
  }

  .fra-footer {
    flex: 0 200px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px 100px;

    .fra-store-badge {
      width: 230px;
      height: 100px;
      border: none;
      outline: none;
      background-color: transparent;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 100px;

      &.google {
        width: 250px;
        height: 110px;
        background-image: url('./images/google-play-badge.png');
      }

      &.apple {
        background-size: contain;
        background-image: url('./images/apple-store-badge.svg');
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
