html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.App {
  position: relative;
  background-color: #85D4A5;
  display: flex;
  flex-direction: column;

  FraHeader {
    flex: 0 auto;
  }

  .fra-content {
    flex: 1;

    .fra-featured-screenshot {
      height: 500px;
      border-radius: 10px;
      border: 20px black solid;
      position: absolute;
      right: 100px;
      top: calc(50% - 250px);
    }
  }

  .fra-footer {
    flex: 0 200px;
    background-color: white;
  }
}
