.fra-featured-game-container {
  display: inline-flex;
  flex-direction: column;
  font-family: 'Loosey Sans';

  .fra-featured-game {
    font-size: 9em;
    font-weight: 900;
    color: white;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: white;
    text-shadow: -8px 4px #EA712B, -5px 6px #EA712B, 8px 2px 5px black, -8px -4px #EA712B;
  }
}

@font-face {
  font-family: 'Loosey Sans';
  src: url('../../fonts/Loosey\ Sans.otf'); /* IE9 Compat Modes */
  src: url('../../fonts/Loosey\ Sans.otf') format('otf'), /* Pretty Modern Browsers */
}
